 header {
  background-color: var(--color-primary);
  height: 60px;
  display: flex;
  align-items: center;
}

.tsmovie-nav-content h1 {
    margin: 0;
    font-weight: 700;
}

.tsmovie-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.tsmovie-contact-container {
    display: flex;
    align-items: center;
}

.tsmovie-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
}
